<h1>Video Games</h1>
  <p><%= link_to "Add New Video Game", new_video_game_path %></p>
<table class="table">
  <tbody id="vg_tbody">
  </tbody>
</table>

<script id="video_game_template" type="text/x-handlebars-template">
  <tr id="vg_{{id}}_tr">
    <td>
      <a href="/video_games/{{id}}">{{title}}</a>
    </td>
    <td id="vg_{{id}}_button_td"></td>
  </tr>
</script>

<script id="add_to_collection_template" type="text/x-handlebars-template">
  <form class="add_vg" id="add_vg_{{vgId}}" action="/user_video_games" accept-charset="UTF-8" method="post">
    <input type="hidden" name="video_game_id" id="video_game_id_{{vgId}}" value="{{vgId}}">
    <input type="hidden" name="user_game_id" id="video_game_id_{{userId}}" value="{{userId}}">
    <input type="submit" value="Add to Collection"></input>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</script>
