<h1>Video Games</h1>
<ul>
  <% @video_games.each do |video_game| %>
    <li><%= link_to video_game.title, video_game %> | Button: Add to collection. Render Partial to new UserVideoGame form.</li>
  <% end %>
</ul>
