<h1>Video Games</h1>
  <p><%= link_to "Add New Video Game", new_video_game_path %></p>
<table class="table">
  <tbody id="vg_tbody">
  </tbody>
</table>

<script id="video_game_template" type="text/x-handlebars-template">
  <tr id="vg_{{id}}_tr">
    <td>
      <a href="/video_games/{{id}}">{{title}}</a>
    </td>
    <td id="vg_{{id}}_button_td"></td>
  </tr>
</script>
