<h1><%= @video_game.title %></h1>
<p><%= @video_game.release_year %></p>
<p><%= @video_game.console %></p>
<p>Tags | partial_to tags/show.html.erb</p>
<p><%= link_to "Edit", edit_video_game_path(@video_game) %> | Delete button</p>
<p></p>
<div>partial_to reviews/new.html.erb</div>
<p>or</p>
<p>partial_to user's existing game review at reviews/show.html.erb</p>
