<h1>Video Game Title</h1>
<p>Console</p>
<p>Release Year</p>
<p>Tags | partial_to tags/show.html.erb</p>
<p>Edit button | Delete button</p>
<p></p>
<div>partial_to reviews/new.html.erb</div>
<p>or</p>
<p>partial_to user's existing game review at reviews/show.html.erb</p>
