<h1 id="vg_title"></h1>
<p id="vg_release_year"></p>
<p id="vg_console"></p>
<p id="vg_tags">
  <%= if @video_game.tags.empty? then "This game has no tags." else "Tags:" end %>

</p>
<p><%= link_to "Edit", edit_video_game_path(@video_game) %></p>
<p>
  <% if !user_video_game_review(@video_game) %>
  <%= link_to "Write a Review!", new_video_game_review_path(@video_game) %>
   or
   <% end %>
  <%= link_to "View all Reviews", video_game_reviews_path(@video_game) %>
</p>
