<h1>Account Information</h1>
<p>Nickname: Nickname</p>
<p>Email: Email</p>
<p>Edit button | Delete button</p>
<p>Collection of Video Games:</p>
<ul>
  <li>Link to Video Game | Link to Review (if present)</li>
</ul>
