<h1>Account Information</h1>

<h3><%= @user.nickname %></h3>
<p>Email: <%= @user.email %></p>
<%= link_to "Edit", edit_user_path(@user) %> <%= button_to "Delete", @user, method: :delete %>

<p>Collection of Video Games:</p>
<ul>
  <li>Link to Video Game | Link to Review (if present)</li>
</ul>
