<h1>Video Game Community Hub</h1>
<h3>Most Reviewed Game: </h3>
<p><%= @most_reviewed_game.title %></p>
<h3>Reviews:</h3>
<table class="table">
  <%= render partial: 'review', collection: @most_reviewed_game.reviews %>
</table>
