<h1>Tags</h1>
<%= render partial: 'layouts/error_message', collection: @tag.errors.full_messages %>


<table class="table">
  <%= render partial: 'form', locals: {tag: @tag} %>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= button_to "Delete", tag_path(tag), method: "delete" %></td>
    </tr>
  <% end %>
</table>
