<h1>Tags</h1>
<table>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= link_to "Edit", edit_tag_path(tag) %></td>
      <td><%= button_to "Delete", tag_path(tag), method: "delete" %></td>
    </tr>
  <% end %>
</table>
